<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <link rel='stylesheet' href='/style.css'>
<!--     <link rel='stylesheet' href='/normalize.css'>
  <link rel='stylesheet' href='/foundation.css'> -->

  <title>MEME_TUBE</title>
</head>
<body>
<h1>MEME TUBE</h1>
<nav><li><a href="/videos">Home</a></li><li><a href="/new">Add</a></li><li></li></nav>

<%=yield%>  
</body>
</html>