<h1>ADDING PAGE</h1>
<form action="/videos" method="POST">
  <input type="text" name="title" id="title" placeholder="enter video title"autofocus>
  <input type="text" name="description" id="description" placeholder="enter a description"autofocus>
  <input type="text" name="url" id="url" placeholder="enter a url"autofocus>
  <input type="text" name="genre" id="genre" placeholder="enter a genre" autofocus>
  <button>add video</button>
</form>